body{
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1{
    text-align: center;
    font-size: 50px;
    background-color: black;
}
h2{
    font-size: 30px;
}
.item{
    position: absolute;
    left: 45%;
}

span{
    text-align: left;
    font-weight:bold;
    font-size:40px;
} 
.grid{
    position: absolute;
    margin-top: 250px;
    left: 25%;
}

.row{
    display: flex;
}
.col{
    background-image: url('img.jpg');
    background-size: cover;
    border: 5px solid transparent;
    height: 100px;
    width: 180px;
}

.boxclicked{
    border-color: black;
}


