*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background:black;
  color: white;
}
.template{
  width: 25%;
  display: inline-block;
  border:10px solid transparent;
  border-radius: 15px;
  
}
.template:hover{
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}
.template .image{
  width: 100%;
  height: 350px;
  border: 1px solid white;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.App h1{
  text-align: center;
  margin: 10px;
}
.meme{
  text-align: center;
}
.meme img{
  width: auto;
  height: 500px;
  border: 1px solid black;
}
.meme input{
  margin: 10px;
  padding: 5px;
  background-color: lightblue;
  color: black;
}
.meme button{
  padding: 5px;
  margin: 10px;
  background-color: teal;
}