body{
    text-align: center;
    color: white;
    background: rgb(236, 234, 234) url("download.jpg") no repeat fixed;
}
.clock{
    width: 500px;
    height: 500px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid;
    padding: 20px;
}
.sec{
    line-height: 45px;
    position: relative;
    transform-origin: bottom;
    height: 250px;
    width: 5px;
    left: 245px;
    background: darkred;
    z-index: 3;
    animation: sec_anim 60s linear infinite;
}
.min{
    line-height: 45px;
    position: relative;
    height: 250px;
    width: 10px;
    left: 242.5px;
    background: rgb(70, 70, 250);
    top: -250px;
    z-index: 2;
    animation: sec_anim 600s linear infinite;
}
.hour{
    line-height: 45px;
    position: relative;
    height: 180px;
    width: 14px;
    left: 245px;
    top: -430px;
    background: white;
    z-index: 1;
    animation: sec_anim 60000s linear infinite;
}
@keyframes sec_anim{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
@keyframes mini_anim{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
@keyframes hour_anim{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}
.one{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -648px;
    left: 123px;
    
}
.two{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -629px;
    left: 192px;

}
.three{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -603px;
    left: 228px;

}
.four{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -564px;
    left: 203px;
}
.five{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -552px;
    left: 116px;
}
.six{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -580px;
}
.seven{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -691px;
    left: -116px;
}
.eight{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -840px;
    left: -203px;
}
.nine{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -1016px;
    left: -238px;
}
.ten{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -1181px;
    left: -192px;

}
.eleven{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -1338px;
    left: -123px;
}
.twelve{
    font-size: 3.7em;
    position: relative;
    z-index: 0;
    top: -1450px;
    

}