body{
    background-image: url('bf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    padding: 0;
}
.scroll{
    position: relative;left: 45%;right: 45%;
    width: 250px;
    height: 250px;
    overflow: scroll;
    border: 2px solid silver;
    overflow: scroll;
    text-align: left;
}
input{
    background-color: lightyellow;
    color: black;
    width: 200px;
    height: 30px;
}
button{
    width: 100px;height: 70px;background-image: url('eyes.jpg');background-size: cover;background-repeat: no-repeat;
}
#sel{
    width: 300px;
}
