.App {
  text-align: center;
  align-content: center;
}
button{
  background-image: linear-gradient( aqua, silver);
  margin-top: 150px;
  border-radius: 2px;
  font-size: 20px;
  margin-left: 10px;
  color: black;
  border: none;
}
button:hover{
  color: violet;
  font-size: 23px;
}
