.grid{
    margin: 150px 550px;
}
.row{
    display: flex;
}
.col{
    border: 1px solid white;
    height: 35px;
    width: 35px;
    background-color: rgb(224, 58, 86);
    box-shadow: black;
}
.white{
    background-color: white;
} 

