div img{
  width: 60%;
  margin: 100px 300px;
}

.block{
  border:10px solid black;
  display:flex;
  position:absolute;
  left:30%;
  top:20%;
  flex-direction:column;
  padding:0px;
  box-shadow: 10px 10px 15px 15px grey;
  }
.row{
    display:flex;
}
.box{
    height:50px;
    width:50px;
}
.row:nth-child(odd)> .box:nth-child(odd),
.row:nth-child(even)> .box:nth-child(even){
    background-color:black;
}