body{
  margin-left: 450px;
  margin-top: 100px;
}
.container{
    width:500px;
    height:400px;
    padding:10px;
    overflow-y:auto;
    overflow-x:hidden;
    box-shadow:2px 3px 9px -1px #000;
    background-image : url('https://image.freepik.com/free-vector/sweet-snack-seamless-pattern-cupcake-muffin-wallpaper_7081-438.jpg');
    
}

.Card{
  width:90%;
  background-image: linear-gradient(purple, rgb(253, 100, 83));
  padding:10px;
  margin:10px;
  text-align: left;
  border-radius:10px;
  box-shadow:10px 5px 10px 1px black;
}
